<!DOCTYPE htm>
<html>
<head>
	<title>Смотреть Чёрная Лагуна онлайн</title>
	{% load static%}
	<link rel="stylesheet" type="text/css" href="{% static 'watch_page/style.css' %}">
</head>
<body>
	<header>
		<a href="#">Сезоны</a>
	</header>
	<div class='content'>
		<div class='list'>
			<ul>
				<a href=""><li>1 серия</li></a>
				<a href=""><li>1 серия</li></a>
				<a href=""><li>1 серия</li></a>
				<a href=""><li>1 серия</li></a>
				<a href=""><li>1 серия</li></a>
				<a href=""><li>1 серия</li></a>
				<a href=""><li>1 серия</li></a>
				<a href=""><li>1 серия</li></a>
				<a href=""><li>1 серия</li></a>
				<a href=""><li>1 серия</li></a>
				<a href=""><li>1 серия</li></a>
				<a href=""><li>1 серия</li></a>
				<a href=""><li>1 серия</li></a>
				<a href=""><li>1 серия</li></a>
				<a href=""><li>1 серия</li></a>
			</ul>
		</div>
		<div class="video">
			<iframe src='https://my.mail.ru/video/embed/5443003520120783225' width='626' height='367' frameborder='0' scrolling='no' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
</body>
</html>